.cabinets__wrapper {
    margin-top: 50px;
}

.cabinets__list {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.cabinets__block {
    position: relative;
    padding: 25px;
    border: 1px solid var(--gray);
    border-radius: 15px;
    background: #fff;
    width: 356px;
    height: 550px;
    transition: all .3s;
}

.cabinets__block:active {
    transform: scale(0.98);
}

.cabinets__block:hover .cabinets_panel {
    opacity: 1;
    backdrop-filter: blur(8px);
    border-radius: 13px;
}

.cabinets__img {
    object-fit: cover;
    height: 306px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.cabinets_img-inner {
    position: relative;
}

.cabinets_panel {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
    transition: all .3s;
}

.cabinets_panel a {
    padding: 20px;
    border-radius: 15px;
    padding: 20px;
    width: 70px;
    height: 70px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.66);
}

.cabinets_panel a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.cabinets__title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
}

.cabinets__stock {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: var(--green);
    list-style: circle;
    margin: 15.5px 0;
    display: block;
}

.cabinets__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabinets_cost {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.cabinets_cost p {
    font-weight: 700;
    font-size: 26px;
    color: var(--black);
}

.cabinets_cost span {
    display: block;
    font-weight: 600;
    font-size: 18px;
    text-decoration: line-through;
    color: var(--gray);
    text-align: right;
}

.cabinets_create {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--gray);
    justify-content: center;
    height: 100%;
    transition: all .3s;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}

.cabinets_create:hover {
    transform: scale(.98);
}

.panel_admin {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    opacity: 0;
    transition: all .3s;
}


.cabinets__block:hover .panel_admin {
    opacity: 1;
    top: 25px;
}

.cabinet_edit,
.cabinet_delete {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.66);
    padding: 26px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 55px;
}


.cabinet_edit::before,
.cabinet_delete::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background: url("../../assets/image/сabinet/trash.svg") no-repeat;
    display: block;
}


.cabinet_edit::before {
    background: url("../../assets/image/сabinet/edit.svg") no-repeat;
}

.CabinetNull {
    text-align: center;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    color: #000;
    margin-bottom: auto;
    justify-content: center;
}